@{
    ViewData["Title"] = "Contato!";
}
<h2>@ViewData["Contato"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Coronel Genuino<br />
    Prédio 2, Cep 98052-6399<br />
    <abbr title="Phone">Número:</abbr>
    9999999
</address>

<address>
    <strong>Suporte:</strong> JoãoDesenvolvert@example.com</a><br />
    <strong>Marketing:</strong> JaqueliniDesenvolverg@example.com</a>
</address>
